name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Install C++ dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y g++ make

      - name: Compile C++ Project
        run: |
          g++ -std=c++17 main.cpp -o crm_appc

      - name: Create Source Zip
        run: |
            zip -r crm-sources.zip *.cpp *.h

            - name: Upload Source Artifact
              uses: actions/upload-artifact@v4
              with:
                name: crm-source-code
                path: crm-sources.zip
                retention-days: 15